.DS_Store
build/
out/
bin/
*.class
**/.idea/workspace.xml **/.idea/tasks.xml
.gradle
.idea
.vscode
# Ignore Gradle build output directory
build
.whiteboard/
# Ignore .db in all directories and subdirectories and those subdirectories
# themselves
*.db
